

body{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
background-color: darkgrey;
}
.container{
grid-area: 1/3/6/4;
border-color: black;
padding: 1;
}

h1{
  color: gold;
}
